
{% include page-intro.html %}

<main id="main" class="page-content" aria-label="Content">
  <div class="inner">
    <article class="entry-wrap">
      <div class="entry-content">
        <h2 id = "HTML로 포스트를 작성해본다!"> HTML로 포스트를 작성해본다! </h2> 
        <p> 우와아ㅏ아아 테스트다 </p>

      </div>
      {% if site.disqus.shortname %}
        {% include disqus_comments.html %}
      {% endif %}
    </article>
  </div>
</main>
---
title: "GitHub 테스트글"
categories:
  - 일상
tags:
  - 두번째 글
last_modified_at: 2021-02-06T14:25:52-05:00
---
